@model IEnumerable<K22CNT2_VuAnhDuong_2210900017_.Models.SAN_PHAM>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách sản phẩm</h2>


<table class="table">
    <tr>
        <th>
            <span>Mã sản phẩm</span>
        </th>
        <th>
            <span>Tên sản phẩm</span>
        </th>
        <th>
            <span>Giá tiền</span>
        </th>
        <th>
            <span>Số lượng</span>
        </th>
        <th>
            <span>Thông tin</span>
        </th>
        <th>
            <span>Hình Ảnh</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh)
            </td>
            <td>
                <a href="@Url.Action("AddToCart", "Cart", new { id = item.MaSP, name = item.TenSP, price = item.Gia })" class="btn btn-success">Mua</a>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>