@model IEnumerable<K22CNT2_VuAnhDuong_2210900017.Models.DON_HANG>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_dat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KHACH_HANG.Ten_KH)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay_dat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACH_HANG.Ten_KH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaDH }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaDH }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaDH })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
