@model List<K22CNT2_VuAnhDuong_2210900017_.ModelViews.CartItem>

<h2>Giỏ hàng của bạn</h2>

<table class="table">
    <tr>
        <th>Hình ảnh</th>
        <th>Sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@Url.Content("~/Content/images/AnhSP/" + item.Image)" alt="Product Image" width="60" height="60" /></td>
            <td>@item.Name</td>
            <td>
                @item.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))
            </td>
            <td>
                <input type="number" value="@item.Qty" />
            </td>
            <td>@item.Total.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</td>
            <td>
                <a href="#">Cập nhật</a>
                @Html.ActionLink("Xóa", "RemoveFromCart", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<p><strong>Tổng cộng:</strong> @Model.Sum(x => x.Total).ToString("C", new System.Globalization.CultureInfo("vi-VN"))</p>

<a href="Cart/ThongTinThanhToan">Thanh toán</a>
