@model IEnumerable<K22CNT2_VuAnhDuong_2210900017_.Models.DANH_MUC>

@{
    ViewBag.Title = "Index";
}

<h2>Danh mục</h2>

<table class="table">
    <tr>
        <th>
            <span>Mã danh mục</span>
        </th>
        <th>
            <span>Tên danh mục</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDM)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDM }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaDM }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDM }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>